/* Color variables */
:root {
    --boneWhite: #FFFDFB;
    --midnightBlack: #1E1E1E;
    --bloodRed: #B30100;
    --graveyardGreen: #3A4A37;
    --painfulPurple: #4D196D;
}

/* Font face links */
@font-face {
    font-family: 'Special Elite';
    src: url(aassets/fonts/Special_Elite/SpecialElite-Regular.ttf);
    font-weight: 400; 
}

@font-face {
    font-family: 'Ghastly Panic';
    src: url(assets/fonts/ghastly_panic/GhastlyPanic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

/* Basic styling  */

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--painfulPurple);
    color: var(--boneWhite);
    font-family: 'Nunito Sans';
}

/* Hero styling */

.hero {
    /* position: relative;  */
    width: 100%; 
    height: 45rem;
    background-image: url('/assets/images/heroStartPageLarge.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: 0;
    padding: 0;
}

.heroTitle {
    font-family: 'Ghastly Panic';
    font-weight: lighter;
    font-size: clamp(5.25rem, 10vw + 3.125rem, 15.5rem);
    color: var(--bloodRed);
    text-align: center;
    margin: 0; /* Remove default margin */
    padding: 4.5rem 0 0 0; 
}

.heroText {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    position: relative;
    left: 130px;
    top: 80px;
}

.heroLogo {
    position: absolute;
    width: 82.848px;
    height: 102.937px;
    transform: rotate(-6.189deg);

}

/* Main content */

main {
    background-color: var(--midnightBlack);
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

section {
    width: 604px;
    height: 495px;
    box-sizing: border-box;
}

h3 {
    font-family: 'Special Elite';
    font-weight: 300;
    font-size: 48px;
}

img {
    width: 50%;
    height: 50%;
}

/* Current Movies styling */

.currentMoviesHeader {
    color: var(--bloodRed);
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

.currentMoviesContainer, .upcomingMoviesContainer {
    display: flex;
    justify-content: space-evenly;
}

/* Offer styling */

.offerHeader {
    font-size: 2.375rem;
    text-transform: uppercase;
}

/* Upcoming Movies styling */

.upcomingMoviesHeader {
    color: var(--bloodRed);
    font-size: 2rem;
}

/* Newsletter styling */


.newsletterHeader {
    font-size: 1.5rem;
}

.newsletterInput {
    border-radius: 1.5rem;
    background-color: var(--graveyardGreen);
    width: 21.25rem;
    height: 3rem;
    border: none;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: #FFF !important;
}

.newsletterInput::placeholder{
    color: var(--boneWhite);
}




/* Button styling */

.button {
    background-color: var(--painfulPurple);
    color: var(--boneWhite);
    border-radius: 25px;
    height: 2rem;
    width: auto;
    padding: 0.5rem 2rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    line-height: normal;
}

.button:hover {
    background-color: var(--boneWhite);
    color: var(--midnightBlack);
}

.button:visited {
    background-color: var(--graveyardGreen);
}

/* Footer styling */

footer {
    background-color: var(--painfulPurple);
}

/* media queries */

@media (max-width: 480px) { /* ANVÄND INTE REM HÄR */
}

@media (max-width: 768px) {
    .hero {
        background-image: url('/assets/images/heroStartPageSmall.jpg');
        height: 375px;
    }
    .heroText {
        left: 25px;
        top: 40px;
    }
    .heroLogo {
        width: 30.491px;
        height: 36.481px;
        transform: rotate(-6.094deg);
    }
    
    section {
        width: 390px;
        height: 312.807px;
    }

    h3 {
        
    }
}

@media (min-width: 1024rem) { /* Equivalent to 1024px */
    
}




