/* Color variables */
:root {
    --boneWhite: #FFFDFB;
    --midnightBlack: #1E1E1E;
    --bloodRed: #B30100;
    --graveyardGreen: #3A4A37;
    --painfulPurple: #4D196D;
}

/* Font face links */
@font-face {
    font-family: 'Special Elite';
    src: url(assets/Special_Elite/SpecialElite-Regular.ttf);
    font-weight: 400; 
}

@font-face {
    font-family: 'Ghastly Panic';
    src: url(assets/ghastly_panic/GhastlyPanic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

/* Basic styling  */

* {
    box-sizing: border-box;
    background-color: var(--midnightBlack);
}

body {
    font-size: 8px;
}

.footer {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}

/* media queries */

@media (max-width: 75rem) { 
    .currentMoviesOffer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2);
        gap: 1rem;
        padding: 1rem;
        }

        .currentMoviesContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            padding: 1rem;
        }

 .upcomingMoviesNewsletter {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2);
        gap: 1rem;
        padding: 1rem;
        }

        .upcomingMoviesContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1 rem;
            padding: 1 rem;
        }
}

@media (min-width: 75rem) {
    .currentMoviesOffer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
        }

            .currentMoviesContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1 rem;
            padding: 1 rem;
            }

     .upcomingMoviesOffer {
        display: grid;            
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
        }

        .upcomingMoviesContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1 rem;
            padding: 1 rem;
            }
}

