/* Color variables */
:root {
    --boneWhite: #FFFDFB;
    --midnightBlack: #1E1E1E;
    --bloodRed: #B30100;
    --graveyardGreen: #3A4A37;
    --painfulPurple: #4D196D;
}

/* Font face links */
@font-face {
    font-family: 'Special Elite';
    src: url(assets/Special_Elite/SpecialElite-Regular.ttf);
    font-weight: 400; 
}

@font-face {
    font-family: 'Ghastly Panic';
    src: url(assets/ghastly_panic/GhastlyPanic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

/* Basic styling  */

* {
    box-sizing: border-box;
    background-color: var(--midnightBlack);
}

